<!DOCTYPE html>
<html>

<head>
    <title>Flask Template Example</title>

    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}"> -->
    <link rel="stylesheet" href="../static/css/search.css">


 	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

 	{% block navbar %}{% endblock %}

</head>

<body>
    <h1>Flask Template Example</h1>

    {% block content %}
    {% endblock %}

<!--     <div class="container">
	  <div class="row">
	  	<div class="col-4">
	      Airpods
	      <img src="../static/images/giphy.gif" class="img-fluid" alt="Responsive image">
	    </div>
	    <div class="col-8">
			<div class="card example-1 scrollbar-deep-purple bordered-deep-purple thin">
		      <div class="card-body">
		        <h4 id="section1"><strong>Third title of the news</strong></h4>
		        <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out
		          qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan
		          mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim
		          qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic.
		          Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p>
		      </div>
		    </div>			
		    <div class="card example-1 scrollbar-deep-purple bordered-deep-purple thin">
		      <div class="card-body">
		        <h4 id="section1"><strong>Third title of the news</strong></h4>
		        <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out
		          qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan
		          mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim
		          qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic.
		          Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p>
		      </div>
		    </div>
	    </div>
	  </div>
	</div>
 -->
</body>


</html>