
{% extends "bootstrap/base.html" %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}


{% block scripts %}
    {{ super() }}
	<script src="{{url_for('.static', filename='three.min.js')}}"></script>
	<script src="{{url_for('.static', filename='OBJLoader.js')}}"></script>
	<script src="{{url_for('.static', filename='index.js')}}"></script>



{% endblock %}

{% block content %}

 <div class="text-center">
	<img src="/static/images/giphy.gif" class="img-thumbnail" alt="...">
</div>
{% endblock %}