{% extends "base.html" %}



<!-- <head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link href="search.css" rel="stylesheet">
</head>> -->

{% block styles %}
{{super()}}

    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}"> -->

{% endblock %}


{% block navbar %}    
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Fixed navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>

          <form action="/search" method="POST" class="form-inline mt-2 mt-md-0">
          	<input type="checkbox" name="secureSearch">Secure Search</div>
            <input class="form-control mr-sm-2" type="text" name="query" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="submit">Search</button>
          </form>
        </div>
      </nav>
{% endblock %}

<!-- <form action="/search" method="post">
	Search Items:<br>
	<input type="text" name="query"><br>
	<input type="submit" value="Submit">
</form>
 -->


{% block scripts %}
    {{ super() }}
<!--     <script src="{{url_for('.static', filename='wegex.js')}}"></script> -->
{% endblock %}

{% block content %}

    <div class="container">
	  <div class="row">
	  	<div class="col-4" id='product-card'>
	  		<div class="card-body" border-color="blue" >
		        <h4 id="section1"><strong>{{ productName }}</strong>
		        </h4>
		        <img src={{ebayImg}} class="img-fluid" alt="Responsive image">
		        <div class="row">
		        	<div class='col'>
		        		<div class="card-body justify-content-center">
		        			<h5>Ebay Avg</h5>
		        			<p>{{ebayPrice}}</p
>		        		</div>
		        	</div>
		        	<div class='col'><h5>Mercari Avg</h5>
		        		<p>{{ebayPrice}}</p>
		        	</div>
		        </div>
		      </div>
	    </div>
	    <div class="col-8" id='product-card'>
		<!--     <div class="card example-1 scrollbar-deep-purple bordered-deep-purple thin"> -->
		    <div class="card example-1 scrollbar-deep-purple bordered-deep-purple thin">
		      <div class="card-body">
	      		<div id="list-example" class="list-group">

	      			{% for i in range(0,lenMercari)%}
		      			<a class="list-group-item list-group-item-action" href="#list-item-1">
						  	<div class="row">
							  	<div class="col-4">
							  		<img src={{mercariImages[i]}} alt="Responsive image">
							  	</div>
							  	<div class="col-8">
							  		<h5><strong>{{mercariNames[i]}}</strong>
					        		</h5>
					        		<p>{{mercariDescrip[i]}}</p>
					        		<p>{{mercariPrices[i]}}</p>
						  		</div>
			      			</div>
			      		</a>
	      			{%endfor%}


				  


				  
				</div>

		      </div>
		    </div>

	    </div>
	  </div>
	</div>


{% endblock %}